@use 'colors'
@use 'mixins'

.header
  @include mixins.centered-flex()
  @include mixins.block-width()
  background-color: colors.$black-10
  grid-area: header
  height: 4rem
  justify-content: space-between
  top: 0
  z-index: 1

  @include mixins.mq('desktop')
    background-color: white
    height: 6rem
    position: sticky

.logo-link:hover
  text-decoration: none
    
.brand
  @include mixins.centered-flex()

  &__logo
    height: 36px
    width: 36px

    @include mixins.mq('desktop')
      height: 72px
      width: 72px
  
  &__title
    margin-left: 0.5rem

    @include mixins.mq('desktop')
      margin-left: 1rem
      
  &__name
    font-family: 'Domine', serif
    font-size: 1rem
    line-height: 1.4rem
    font-weight: 600

    @include mixins.mq('desktop')
      line-height: 2rem
      font-size: 2rem
  
  &__description
    font-size: 0.7rem
    line-height: 0.8rem

    @include mixins.mq('desktop')
      line-height: 1.4rem
      font-size: 1rem

.search 
  position: relative
 
  &__field
    height: 2rem 
    padding: 1rem
    border-radius: 1rem 
    border: 1px solid colors.$black
      
  &__results 
    position: absolute
    top: 2.5rem
    left: 1rem
      
.menu
  @include mixins.centered-flex()
  display: flex
  

  &__item
    margin: 0 0.5rem

    @include mixins.mq('desktop')
      margin: 0 2rem
      
