@use 'colors'
@use 'mixins'

.header
  @include mixins.centered-flex()
  @include mixins.block-width()
  background-color: colors.$black-10
  grid-area: header
  height: 4rem
  justify-content: space-between
  top: 0
  z-index: 1

  @include mixins.mq('desktop')
    background-color: white
    height: 6rem
    position: sticky
  
.brand
  @include mixins.centered-flex()
  
  &__logo
    height: 36px
    width: 36px

    @include mixins.mq('desktop')
      height: 72px
      width: 72px
  
  &__name
    font-family: 'Domine', serif
    font-size: 1rem
    font-weight: 600
    margin-left: 0.5rem

    @include mixins.mq('desktop')
      font-size: 2rem
      margin-left: 1rem

.menu
  @include mixins.centered-flex()
  display: flex

  &__item
    margin: 0 0.5rem

    @include mixins.mq('desktop')
      margin: 0 2rem
      
.search
  height: 2rem
  padding: 1rem
  border-radius: 1rem
  border: 1px solid colors.$black